*{
	font-family: "Helvetica", Helvetica, sans-serif;
	text-align: center;
}

h1 {
	font-size:60px;
	padding:60px;
}

nav{
	height=57px;
	padding: 20px;
	background: lavender;
}

nav>a {
  color: black;
  text-decoration: none;
}


div.container {
	margin: auto;
	padding: 20px;
}

div.mini_box {
	display: inline-block;
	height: 100px;
	width: 300px; 
	background-color: pink;
	padding: 20px;
	margin: 1em;
}

h2 {
  font-size:40px;
  color: deeppink;
}

p {
	color: black;
}

ul>li {
	color: darkviolet;
}

address {
	font-style: normal;
	color: darkviolet;
}